.signInContainer {
  display: flex;
  flex-direction: column;
  width: '300px';
  justify-content: center;
  align-items: center;
  margin-top: '150px';
  height: '800px';
  background-color: red;
  box-sizing: border-box;
}

.input {
  padding: '5px 10px';
}

.button {
  width: '50px';
  height: '25px';
  margin-top: '20px';
  margin-bottom: '100px';
  padding: '5px 15px';
}

.info {
  width: '200px';
  display: flex;
  flex-direction: column;
  background-color: rgba(240, 248, 255, 0.632);
  align-items: flex-start;
}